<div class="clearfix sliderImg col-lg-6 col-xs-12">
  <div data-ride="carousel" class="carousel slide column col-lg-7 col-sm-6 col-xs-12" id="img_5695763de7d88">
    <div class="carousel-inner">
      <div class="item active">
        <img alt="Angel" src="/img/carrousel/item6.jpg">
      </div>
    </div>
  </div>
  <div class="wysiwyg column wysiwg col-lg-5 col-sm-6 col-xs-12">
    <h2 class="mainTitle">San Luis</h2>
    <h3 class="secondTitle">Sala de la creación</h3>
    <p>Escultura en madera. Policromada con yuyos del tebicuary. Autor anónimo. fue utilizado en ceremonias religiosas</p>
    <p class="btn-normal"><a href="obra/5">Leer más</a></p>
  </div>
</div>
