<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th class="cell-stat text-center">id</th>
      <th class="cell-stat text-center">tecnicasArte</th>
      <th class="cell-stat text-center">Accion</th>
      <th class="cell-stat text-center">Accion</th>
    </tr>
  </thead>
  <tbody>
    <% var i; for (i=0; i < tecnicasArtes.length; i++) { %>
      <tr>
        <td class="text-center"><%= tecnicasArtes[i].id %></td>
        <td class="text-center"><%= tecnicasArtes[i].tecnicaArte %></td>
        <td>
          <a href="/web/tecnicasArte/<%= tecnicasArtes[i].id %>" class="btn btn-info" role="button">
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button type="button" class="btn btn-info">Edit</button>
            </p>
          </a>
        </td>
        <td>
          <a href="/web/tecnicasArte/<%= tecnicasArtes[i].id %>" class="btn btn-info" role="button">
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button type="button" class="btn btn-info">Delete</button>
            </p>
          </a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
