.mfp-bg
{
    position: fixed;
    z-index: 1042;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    opacity: .8;
    background: #0b0b0b;

    filter: Alpha(80);
}
.mfp-wrap
{
    position: fixed;
    z-index: 1043;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
}
.mfp-container
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 8px;

    text-align: center;
}
.mfp-container:before
{
    display: inline-block;

    height: 100%;

    content: '';
    vertical-align: middle;
}
.mfp-align-top .mfp-containerbefore
{
    display: none;
}
.mfp-content
{
    position: relative;
    z-index: 1045;

    display: inline-block;

    margin: 0 auto;

    text-align: left;
    vertical-align: middle;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content
{
    width: 100%;

    cursor: auto;
}
.mfp-ajax-cur
{
    cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close
{
    cursor: -webkit-zoom-out;
    cursor:         zoom-out;
}
.mfp-zoom
{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}
.mfp-auto-cursor .mfp-content
{
    cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.mfp-loading.mfp-figure
{
    display: none;
}
.mfp-hide
{
    display: none !important;
}
.mfp-preloader
{
    position: absolute;
    z-index: 1044;
    top: 50%;
    right: 8px;
    left: 8px;

    width: auto;
    margin-top: -.8em;

    text-align: center;

    color: #ccc;
}
.mfp-preloader a
{
    color: #ccc;
}
.mfp-preloader a:hover
{
    color: #fff;
}
.mfp-s-ready .mfp-preloader
{
    display: none;
}
.mfp-s-error .mfp-content
{
    display: none;
}
button.mfp-close,
button.mfp-arrow
{
    z-index: 1046;

    display: block;
    overflow: visible;

    padding: 0;

    cursor: pointer;

    border: 0;
    background: transparent;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
}
button.mfp-close:focus,
button.mfp-arrow:focus
{
    outline: none;
}
button-moz-focus-inner
{
    padding: 0;

    border: 0;
}
.mfp-close
{
    font-family: Arial, Baskerville, monospace;
    font-size: 28px;
    font-style: normal;
    line-height: 44px;

    position: absolute;
    top: 0;
    right: 0;

    width: 44px;
    height: 44px;
    padding: 0 0 18px 10px;

    text-align: center;
    text-decoration: none;

    opacity: .65;
    color: #fff;

    filter: Alpha(65);
}
.mfp-close:hover,
.mfp-close:focus
{
    opacity: 1;

    filter: Alpha(100);
}
.mfp-close:active
{
    top: 1px;
}
.mfp-close-btn-in .mfp-close
{
    color: #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close
{
    right: -6px;

    width: 100%;
    padding-right: 6px;

    text-align: right;

    color: #fff;
}
.mfp-counter
{
    font-size: 12px;
    line-height: 18px;

    position: absolute;
    top: 0;
    right: 0;

    color: #ccc;
}
.mfp-arrow
{
    position: absolute;
    top: 50%;

    width: 90px;
    height: 110px;
    margin: 0;
    margin-top: -55px;
    padding: 0;

    opacity: .65;

    filter: Alpha(65);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mfp-arrow:active
{
    margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus
{
    opacity: 1;

    filter: Alpha(100);
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;

    content: '';

    border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a
{
    top: 8px;

    border-top-width: 13px;
    border-bottom-width: 13px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b
{
    opacity: .7;
    border-top-width: 21px;
    border-bottom-width: 21px;
}
.mfp-arrow-left
{
    left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a
{
    margin-left: 31px;

    border-right: 17px solid #fff;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b
{
    margin-left: 25px;

    border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right
{
    right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a
{
    margin-left: 39px;

    border-left: 17px solid #fff;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b
{
    border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content
{
    line-height: 0;

    width: 100%;
    max-width: 900px;
}
.mfp-iframe-holder .mfp-close
{
    top: -40px;
}
.mfp-iframe-scaler
{
    overflow: hidden;

    width: 100%;
    height: 0;
    padding-top: 56.25%;
}
.mfp-iframe-scaler iframe
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: #000;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
}
img.mfp-img
{
    line-height: 0;

    display: block;

    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 40px;
}
.mfp-figure
{
    line-height: 0;
}
.mfp-figure:after
{
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;

    display: block;

    width: auto;
    height: auto;

    content: '';

    background: #444;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
}
.mfp-figure small
{
    font-size: 12px;
    line-height: 14px;

    display: block;

    color: #bdbdbd;
}
.mfp-figure figure
{
    margin: 0;
}
.mfp-bottom-bar
{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    margin-top: -36px;

    cursor: auto;
}
.mfp-title
{
    line-height: 18px;

    padding-right: 36px;

    text-align: left;
    word-wrap: break-word;

    color: #f3f3f3;
}
.mfp-image-holder .mfp-content
{
    max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure
{
    cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px)
{
    .mfp-img-mobile .mfp-image-holder
    {
        padding-right: 0;
        padding-left: 0;
    }
    .mfp-img-mobile img.mfp-img
    {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figureafter
    {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small
    {
        display: inline;

        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar
    {
        position: fixed;
        top: auto;
        bottom: 0;

        box-sizing: border-box;
        margin: 0;
        padding: 3px 5px;

        background: #000;
        background: rgba(0,0,0,.6);
    }
    .mfp-img-mobile .mfp-bottom-barempty
    {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter
    {
        top: 3px;
        right: 5px;
    }
    .mfp-img-mobile .mfp-close
    {
        line-height: 35px;

        position: fixed;
        top: 0;
        right: 0;

        width: 35px;
        height: 35px;
        padding: 0;

        text-align: center;

        background: #000;
        background: rgba(0,0,0,.6);
    }
}
@media all and (max-width: 900px)
{
    .mfp-arrow
    {
        -webkit-transform: scale(.75);
            -ms-transform: scale(.75);
                transform: scale(.75);
    }
    .mfp-arrow-left
    {
        -webkit-transform-origin: 0;
            -ms-transform-origin: 0;
                transform-origin: 0;
    }
    .mfp-arrow-right
    {
        -webkit-transform-origin: 100%;
            -ms-transform-origin: 100%;
                transform-origin: 100%;
    }
    .mfp-container
    {
        padding-right: 6px;
        padding-left: 6px;
    }
}
.mfp-ie7 .mfp-img
{
    padding: 0;
}
.mfp-ie7 .mfp-bottom-bar
{
    left: 50%;

    width: 600px;
    margin-top: 5px;
    margin-left: -300px;
    padding-bottom: 5px;
}
.mfp-ie7 .mfp-container
{
    padding: 0;
}
.mfp-ie7 .mfp-content
{
    padding-top: 44px;
}
.mfp-ie7 .mfp-close
{
    top: 0;
    right: 0;

    padding-top: 0;
}
