@-webkit-keyframes spScaleAlpha
{
    0%
    {
        opacity: 1;
    }
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: .25;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes spScaleAlphaBefore
{
    0%
    {
        opacity: .25;
    }
    33%
    {
        opacity: 1;
    }
    66%
    {
        opacity: .25;
    }
}
@-webkit-keyframes spScaleAlphaAfter
{
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: 1;
    }
    100%
    {
        opacity: .25;
    }
}
@-webkit-keyframes spScaleAlpha
{
    0%
    {
        opacity: 1;
    }
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: .25;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes spScaleAlpha
{
    0%
    {
        opacity: 1;
    }
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: .25;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes spScaleAlphaBefore
{
    0%
    {
        opacity: .25;
    }
    33%
    {
        opacity: 1;
    }
    66%
    {
        opacity: .25;
    }
}
@keyframes spScaleAlphaBefore
{
    0%
    {
        opacity: .25;
    }
    33%
    {
        opacity: 1;
    }
    66%
    {
        opacity: .25;
    }
}
@-webkit-keyframes spScaleAlphaAfter
{
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: 1;
    }
    100%
    {
        opacity: .25;
    }
}
@keyframes spScaleAlphaAfter
{
    33%
    {
        opacity: .25;
    }
    66%
    {
        opacity: 1;
    }
    100%
    {
        opacity: .25;
    }
}
