<form id="topicForm" method="post" action="/web/nivel/cargar" >
	<div>
	  <label for="categoria" class="control-label">Categoria</label>
	  <input type="text" class="form-control" id="categoria" name="categoria" value="<%=nivel.categoria%>"   required="true" title="Ingrese el Nivel" placeholder="<categoria>">	
	<button type="submit" value="submit" class="btn btn-success btn-block"> Agregar Nivel </button>
	</div>
</form>