<!DOCTYPE html>
<html lang="es">
  <% include ./partials/head %>
  <body>
    <div id="header" class="header-section">
      <% include ./partials/navbar %>
    </div>
    <%- body %>
    <% include ./partials/footer %>
    <% include ./partials/footerScripts %>
  </body>
</html>
