<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <% include ./partials/navbar %>
      </header>
    <div class='container-fluid'>
      <%- body %>
      <% include ./partials/footer %>
    </div> <!-- container -->
    <% include ./partials/footerScripts %>
  </body>
</html>
