<div class="wrapper col-lg-10 col-sm-9 col-xs-12">
  <div class="container">
    <div class="row">
      <header class="titleSeccion col-xs-8 col-lg-12 col-sm-12 movil-off">
        <h1>Fundación</h1>
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li class="active">Museo</li>
          <li class="active">Fundación</li>
        </ol>
      </header>
      <div class="wysiwyg clearfix">
        <img src="/img/museo/fundacion1.jpg" alt="Personalidad" class="img">
        <h2>Origen y composición del Patronato del Museo</h2>
        <div class="content col-lg-12 col-xs-12 columns">
            <h3>Origen</h3>
            <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
              <a href="/img/museo/fundacion2.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/fundacion2.jpg" alt="Personalidad" class="img"></a>
            </div>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
            <h3>Patronato</h3>
            <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
              <a href="/img/museo/fundacion3.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/fundacion3.jpg" alt="Personalidad" class="img"></a>
            </div>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
            <h3>Misión</h3>
            <p>Reunir, conservar, estudiar y exhibir la colección de arte antiguo del Museo, procurar su enriquecimiento, mantener servicios y promover actividades de calidad con el fin de contribuir decisivamente a la educación de la sociedad y a la proyección de los valores culturales de la Comunidad Autónoma Vasca.</p>
            <h3>Comisión Asesora Artística</h3>
            <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
              <a href="/img/museo/fundacion4.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/fundacion4.jpg" alt="Personalidad" class="img"></a>
            </div>
            <p>La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
            <h3>Miembros individuales</h3>
            <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
              <a href="/img/museo/fundacion5.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/fundacion5.jpg" alt="Personalidad" class="img"></a>
            </div>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="rowTabs row clearfix movil-on">
    <a class="col-xs-6 first" href="/historia" title="ir a la sección"><span>Historia</span></a>
    <a class="col-xs-6 last" href="/fundacion" title="ir a la sección"><span>Fundación</span></a>
</nav>
