<!--=== Testimonials section Starts ===-->
<section id="section-testimonials" class="testimonials-wrap">
  <div class="section-overlay"></div>
  <div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonial-slider">
          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <div class="col-lg-5 col-sm-12 col-xs-12">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
            </div>
            <div class="commet">
              <h3>Origen</h3>
              <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz.El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. </p>
            </div>
          </div>
          <!-- Single Testimonial Ends -->
          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
            </div>
            <div class="comment">
              <h3>Patronato</h3>
              <p>Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. </p>
            </div>
          </div>
          <!-- Single Testimonial Ends -->
          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <div class="col-lg-5 col-sm-12 col-xs-12">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
            </div>
            <div class="comment">
              <h3>Comisión Asesora Artística</h3>
              <p>El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
            </div>
          </div>
          <!-- Single Testimonial Ends -->
        </div>
        <div id="bx-pager" class="client-photos">
          <a data-slide-index="0" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
              <!-- Client photo 1 -->
            </span>
          </a>
          <a data-slide-index="1" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
              <!-- Client photo 2 -->
            </span>
          </a>
          <a data-slide-index="2" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="/img/museo/historia2.jpg" alt="" class="img">
              <!-- Client photo 3 -->
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Testimonials section Ends ===-->
