<div class="wrapper col-lg-10 col-sm-9 col-xs-12">
  <div class="container">
    <div class="row">
      <header class="titleSeccion col-xs-7 col-lg-12 col-sm-12 movil-off">
        <h1>Historia</h1>
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li class="active">Museo</li>
          <li class="active">Historia</li>
        </ol>
      </header>
      <div class="wysiwyg clearfix">
        <img src="img/museo/historia1.jpg" alt="Museo" class="img">
        <h2>Breve historia del museo Diocesano de Arte Jesuítico</h2>
        <div class="content col-lg-12 col-xs-12 columns">
          <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
            <br><br>
            <a href="/img/museo/historia2.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/historia2.jpg" alt="" class="img"></a>
          </div>
          <div class="col-lg-7 col-sm-12 col-xs-12">
            <h3>El Museo Diocesano de Arte Jesuítico</h3>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
          </div>
          <div class="clearfix col-lg-5 col-sm-12 col-xs-12">
            <br><br>
            <a href="/img/museo/historia3.jpg" class="lightbox"><span>Ampliar imagen</span><img src="/img/museo/historia3.jpg" alt="Personalidad" class="img"></a>
          </div>
          <div class="col-lg-7 col-sm-12 col-xs-12">
            <h3>Personalidad</h3>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <h3>Breve historia</h3>
            <p> La primera reducción de los Jesuitas en Paraguay fue San Ignacio Guasú Se creó a petición del cacique Arapysandú y fue el padre Marcial Lorenzana quien la fundó. San Ignacio se consolida en 1612, gracias al nuevo Superior: el P. Roque González de Santa Cruz. Al regreso de los Jesuitas, después de su expulsión, se decide convertir el antiguo templo en un museo. El P. Antonio González Dorado, con la ayuda económica de los jesuitas de Nürenberg, Alemania, y la colaboración de diversos profesionales y voluntarios, logra restaurarla.  El Museo cuenta con cuatro salas y una Capilla: Sala de la Creación, Sala del Misterio Pascual, Sala de la Iglesia y la Sala de la Compañía de Jesús, y la Capilla del Niño Jesús Alcalde. El museo guarda esculturas de santos esculpidas por los indígenas y por maestros jesuitas. También pinturas policromadas extraídas de savias naturales del lugar y preparadas en los mismos talleres de las reducciones. Todas ellas con una antigüedad de más de 300 años.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ESTO APARECE EN MOVIL SOLO -->
<nav class="rowTabs row clearfix movil-on">
    <a class="col-xs-6 first" href="/historia" title="ir a la sección"><span>Historia</span></a>
    <a class="col-xs-6 last" href="/fundacion" title="ir a la sección"><span>Fundación</span></a>
</nav>
