.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 95%;
  margin: 10px 0;
}
.dropdown-menu .progress-button {
  width: 100%;
}
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  border: 2px solid #b49449;
  border-radius: 3px;
  background: #b49449;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, all 0.3s;
  opacity: 0.7;
}
.dropdown-menu .progress-button button {
  padding: 0.5em 0;
}
.progress-button button:hover {
  background-color: #b49449;
  color: #fff;
  opacity: 1;
}
.progress-button button:focus {
  outline: none;
}
.progress-button button span {
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}
.progress-button svg {
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.progress-button svg path {
  opacity: 0;
  fill: none;
}
.progress-button svg.progress-circle path {
  stroke: #1ecd97;
  stroke-width: 5;
}
.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.loading.progress-button button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: #ccc;
  border-width: 5px;
  background-color: transparent;
}
.loading.progress-button span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
}
.success.progress-button button,
.error.progress-button button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}
.success.progress-button button {
  border-color: #1ecd97;
  background-color: #1ecd97;
}
.error.progress-button button {
  border-color: #fb797e;
  background-color: #fb797e;
}
.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}
.loading.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
