<div class="col-lg-12 col-xs-12 col-sm-12 clearfix footer">
  <div class="row stickyfooter movil-on">
    <footer class="clearfix">
      <section class="module address">
        <a href="/informacion-practica">
          <h3 class="title02">Dirección</h3>
          <address>
            <p>Iturbe e/ de Lorenzana y Cap. del Puerto, <strong>San Ignacio Guasú</strong></p>
          </address>
        </a>
      </section>
      <section class="module time">
        <a href="/horarios-tarifas">
          <h3 class="title02">Horario</h3>
          <p></p>
        </a>
      </section>
      <section class="module call">
        <a href="callto:595782232223">
          <h3 class="title02">Llamar</h3>
          <p><strong>+(595) 782 232 223</strong></p>
        </a>
      </section>
      <section class="module contact">
        <a href="/contacto">
          <h3 class="title02">Contacto</h3>
          <p>Envíanos tus consultas</p>
        </a>
      </section>
    </footer>
  </div>
  <footer class="clearfix movil-off">
    <p class="col-lg-3 col-sm-3">&copy; 2016 MUSEO DIOSCESANO DE ARTE DE LAS REDUCCIONES JESUÍTICAS</p>
    <nav class="col-lg-4 col-sm-4">
      <a href="https://twitter.com/JoparatonSIG" target="_blank" title="ir a twitter en ventana nueva"><img src="/img/logo/twitter.png" alt="twitter"></a>
      <a href="https://www.facebook.com/pages/JoparatonSIG/99999" target="_blank" title="ir a facebook en ventana nueva"><img src="/img/logo/facebook.png" alt="facebook"></a>
      <a href="http://www.youtube.com/user/JoparatonSIG" target="_blank" title="ir a google play en ventana nueva"><img src="/img/logo/google-play.png" alt="google play"></a>
    </nav>
    <nav class="col-lg-5 col-sm-5">
      <a class="" href="/mapa-web">Mapa web</a>
      <a class="" href="/aviso-legal">Aviso legal</a>
      <a class="" href="/creditos">Créditos</a>
    </nav>
  </footer>
</div>
