<footer>
<div class="footer">
  <div class="overlayer">
    <div class="container">
      <div class="row support">
        <div class="col-sm-3">
          <h4>Museo Dioscesano de Arte Jesuitico</h4>
          <ul class="list-unstyled">
            <li><a href="/terminos">Terminos de Uso</a></li>
            <li><a href="/privacidad">Terminos de Privacidad</a></li>
            <li><a href="/cookies">Uso de Cookies</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Piezas en la colección</h4>
          <ul class="list-unstyled social-list">
            <li><h3 class="numbers-dont-lie"><b>60</b> Estatuas</h3></li>
            <li><h3 class="numbers-dont-lie"><b>80</b> Libros</h3></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>Informaciones</h4>
          <p>Noticias y eventos</p>
          <h3 class="subscribers">
            muy pronto
          </h3>
        </div>
        <div class="col-sm-2">
          <h4>Colaborá</h4>
          <ul class="list-unstyled">
            <li><a href="/about">Acerca de...</a></li>
            <li><a href="/historiasoo">Nuestra Historia</a></li>
            <!--li><a href="/contacto">Contactenos</a></li-->
            <li><a href="/sponsor">Sponsors</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="social-area text-center">
          <a href="https://www.facebook.com/radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-facebook-square"></i></a>
          <a href="https://twitter.com/radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/+radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-google-plus-square"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="credits text-center">
          <p>&copy; 2016 Museo Dioscesano Jesuitico, todos los derechos reservados. </p>
          <p>Hecho con <span class="glyphicon glyphicon-heart"></span> para una mejor web.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
