<!--=== Footer section Starts ===-->
<div id="section-footer" class="footer-wrap">
  <div class="container footer center">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="footer-title"><!-- Footer Title -->
          <a class="site-name" href="#"><span>M</span>useo Diocesano</a>
        </h4>

        <!-- Social Links -->
        <div class="social-icons">
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
        </div>
        <address>
          <p>Iturbe e/ de Lorenzana y Cap. del Puerto</p>
          <p>San Ignacio Guasú, Misiones, Paraguay</p>
        </address>

        <a href="callto:595782232223">
          <p><strong>+(595) 782 232 223</strong></p>
        </a>
        <p class="copyright">Arte de las reducciones Jesuíticas</p>
        <p class="copyright">All rights reserved &copy; 2016 Museo Diocesano de San Ignacio Guazú</p>
      </div>
    </div>
  </div>
</div>
<!--=== Footer section Ends ===-->
