<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="radiosoo.net">
  <link rel="icon" href="favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="Museo Dioscesano Jesuitico" href="/action.atom"/>
  <link rel="alternate" hreflang="es" href="http://www.joparatonSIG.net/" />
  <meta name="description" content="Colección de obras de la época de las reducciones Jesuiticas">
  <meta name="keywords" content="Guarani, Paraguay, Misiones, Reducciones Jesuiticas, Reducciones del Paraguay">
  <meta property="og:title" content="Museo Dioscesano Jesuitico" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.joparatonSIG.com/img/museo.png" />
  <meta property="og:url" content="http://www.joparatonSIG.com/" />
  <meta property="og:description" content="Colección del Museo Dioscesano" />
  <meta property="article:publisher" content="https://www.facebook.com/JoparatonSIG"/>
  <meta property="fb:admins" content="JoparatonSIG" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@JoparatonSIG" />
  <meta property="twitter:creator" content="@JoparatonSIG" />
  <meta property="twitter:url" content="http://www.joparatonSIG.com" />
  <meta property="twitter:title" content="Museo Dioscesano Jesuitico" />
  <meta property="twitter:description" content="Colección de obras de las reducciones Jesuiticas" />
  <meta property="twitter:image" content ="http://www.joparatonSIG/img/joparatonSIG.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <title>"title"</title>
</head>
