<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="author" content="radiosoo.net">
  <link rel="icon" href="/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64 110x110 114x114" type="image/vnd.microsoft.icon">

  <link rel="alternate" type="application/atom+xml" title="Museo Dioscesano Jesuitico" href="/action.atom"/>
  <link rel="alternate" hreflang="es" href="http://www.joparatonSIG.net/" />
  <meta name="description" content="Bienvenida al Museo Discesano de Arte Jesuitico de San Ignacio Guazú">
  <meta name="keywords" content="Guarani, Paraguay, Misiones, Reducciones Jesuiticas, Reducciones del Paraguay, obra, arte, virtual, San Ignacio, San Ignacio Guazú">
  <meta property="og:title" content="Museo Dioscesano Jesuitico" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.joparatonSIG.com/img/logo/museo.png" />
  <meta property="og:url" content="http://www.joparatonSIG.com/" />
  <meta property="og:description" content="Colección del Museo Dioscesano" />
  <meta property="article:publisher" content="https://www.facebook.com/JoparatonSIG"/>
  <meta property="fb:admins" content="JoparatonSIG" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@JoparatonSIG" />
  <meta property="twitter:creator" content="@JoparatonSIG" />
  <meta property="twitter:url" content="http://www.joparatonSIG.com" />
  <meta property="twitter:title" content="Museo Dioscesano Jesuitico" />
  <meta property="twitter:description" content="Colección de obras de las reducciones Jesuiticas" />
  <meta property="twitter:image" content ="http://www.joparatonSIG/img/logo/joparatonSIG.png" />


  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Magnific Popup core CSS file -->
<!--
  <link rel="stylesheet" type="text/css" href="/css/skin/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/skin/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/css/skin/stacktable.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
-->
<link rel="stylesheet" type="text/css" href="/css/museo.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

  <title>Museo Diocesano de Arte de las Reducciones Jesuíticas: SAN IGNACIO GUASÚ</title>
</head>
