<!-- MENU NAV -->
<!--=== Header section Starts ===-->
  <!-- sticky-bar Starts-->
  <div class="sticky-bar-wrap">
    <div class="sticky-section">
      <div id="topbar-hold" class="navbar container">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--=== Site Name ===-->
            <a class="site-name navbar-brand" href="#"><span>M</span>useo Diocesano</a>
          </div>
          <!-- Main Navigation menu Starts -->
          <!--div class="navbar navbar-responsive dropdown">
            <ul class="nav navbar-nav navbar-right"-->
          <!--div class="dropdown">
            <ul class="dropdown-menu"-->
          <div class="navbar navbar-responsive dropdown">
            <ul role="navigation" class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="/historia" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">Museo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/historia">Historia</a></li>
                  <li><a href="/fundacion">Fundación</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/informacion-practica" data-toggle="dropdown" class="dropdown-toggle">Informaciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/informacion-practica">Cómo llegar</a></li>
                  <li><a href="/horarios-tarifas">Horarios y tarifas</a></li>
                  <li><a href="/visitas-guiadas">Visitas guiadas</a></li>
                  <li><a href="/planos">Planos</a></li>
                  <li><a href="/normas">Normas</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/actualidad" data-toggle="dropdown" class="dropdown-toggle">Exposiciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/actualidad">Actualidad</a></li>
                  <li><a href="/obras-maestras-listado">Obras maestras</a></li>
                  <li><a href="/exposiciones">Actuales</a></li>
                  <li><a href="/exposiciones-proximas">Próximas</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Main Navigation menu ends-->
        </nav>
      </div>
    </div>
  </div>
  <!-- sticky-bar Ends-->
  <!--=== Header section Ends ===-->

<!-- //MENU NAV -->
