<h2 class="movil-on">Apertura, cierre y festivos</h2>
<div class="content clearfix">
  <h3>Abierto</h3>
  <p>Todos los días, de 7.00 a 17.00  horas</p>
  <p>El 24 y el 31 de diciembre de 7.00 a 12.00 horas</p>
</div>
<hr>
<div class="content clearfix">
  <h3>Tarifa de entrada</h3>
  <dl class="tipos-entradas">
    <dt class="col-xs-5">General</dt>
    <dd class="precio col-xs-7"><span class="precio">Precio:</span> 5.000,<span>00 &#8370; </span></dd>
    <dt class="col-xs-5">Reducida</dt>
    <dd class="precio col-xs-7"><span class="precio">Precio:</span> 2.500,<span>00 &#8370; </span></dd>
    <dd></dd>
  </dl>
</div>
