<h2 class="movil-on">Transporte público y mapa</h2>
<div class="content clearfix">
  <h3>Mapa</h3>
  <address><p>Iturbe e/ Padre Marcial de Lorenzana y Capitán Alfonso del Puerto<BR><strong> San Ignacio Guasú, Misiones</strong><br><strong> Paraguay</strong></p></address>
  <img src="img/informacion/mapa.png" alt="mapa" class="img">
</div>
<hr>
<div class="content">
  <h3>Autobús</h3>
  <dl class="lineasBus clearfix">
    <dt>Nuestra Señora de la Asunción</dt>
      <dd>&nbsp;- De Asunción a Encarnación</dd>
      <dd class="total">parada en la Plaza San Roque González</dd>
    <dt>Nuestra Señora de la Asunción</dt>
      <dd>&nbsp;- De Encarnación a Asunción</dd>
      <dd class="total">parada en la calle Iturbe</dd>
    <dt>RYSA</dt>
      <dd>&nbsp;- De Asunción a Encarnación</dd>
      <dd class="total">parada en la Plaza San Roque González</dd>
    <dt>RYSA</dt>
      <dd>&nbsp;- De Encarnación a Asunción</dd>
      <dd class="total">parada en la calle Iturbe</dd>
  </dl>
<div>
