<h2 class="movil-on">Descargar plano</h2>
<div class="content clearfix movil-on">
  <p class="col-xs-12 col-md-6"><a href="pdf/NEW_MAP-INTERIOR.pdf" target="_blank" class="btn btn-default btn-pdf">descargar plano <span>PDF 1,45<span>Mb</span></span></a></p>
</div>
<hr>
<div class="content clearfix movil-off">
  <img src="img/informacion/planos/planta.png" alt="imagen de la planta 0">
  <div class="leyenda">
    <dl>
      <dt>Visita general</dt>
      <dd class="color01">Sala I <span>Sala de la Creación</span></dd>
      <dd class="color02">Sala II <span>Sala del Misterio Pascual</span></dd>
      <dd class="color03">Sala III <span>Sala de la Iglesia</span></dd>
      <dd class="color04">Sala IV <span>Sala de la Compañia de Jesús</span></dd>
      <dd class="color04">Capilla <span>Capilla del Niño Jesús Alcalde</span></dd>
      <dd class="color04">Sala V <span>Sala de la Compañia de Jesús</span></dd>
      <dd class="color07">Taller <span>Taller de pintura y tallado</span></dd>
      <dt>Visita adaptada</dt>
      <dd class="specials"><strong>1</strong> <span>Entrada al museo</span></dd>
      <dd class="specials"><strong>2</strong> <span>Muestras</span></dd>
      <dd class="specials"><strong>3</strong> <span>Reloj Solar</span></dd>
      <dd class="specials"><strong>4</strong> <span>Venta de Recuerdos</span></dd>
    </dl>
  </div>
</div>
<hr>
