<h2 class="movil-on">Visitas Guíadas</h2>
<div class="content clearfix">
  <p>En fin de semana no se responde al correo.</p>
</div>
<div class="content clearfix">
  <h3>Grupos (máximo 20 personas)</h3>
  <ul>
    <li>Posibilidad de realizar la visita en inglés</li>
    <li>Día y hora a convenir (excepto miércoles)</li>
    <li><span class="precio">Precio:</span> 5.000,<span>00 &#8370; </span></li>
    <li>Es imprescindible la reserva anticipada</li>
  </ul>
</div>
