<form id="topicForm" method="post" action="/web/tipoanalisis/details">
    <table class="table table-bordred table-striped">
      <tbody>
        <tr>
          <td class="cell-stat text-center">Ingrese Id de Tipo Analisis</td>
          <td class="text-center">
            <input type="text" class="form-control" id="id" name="id" value="" required="true" title="Ingrese id" placeholder="<id>">
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Consultar">
</form>
