<div class="wrapper col-lg-10 col-sm-9 col-xs-12">
  <div class="container">
    <div class="row">
      <header class="titleSeccion col-xs-8 col-lg-12 col-sm-12 movil-off">
        <h1>Normas</h1>
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li class="active">Información práctica</li>
          <li class="active">Normas</li>
        </ol>
      </header>
      <div class="wysiwyg clearfix">
        <img src="img/normas.jpg" alt="fotografía para normas" class="img">
        <div class="content col-lg-12 col-xs-12">
          <p>Mientras visitas el museo, ayúdanos a proteger nuestro patrimonio común.</p>
          <p>Las obras de arte son objetos únicos y valiosos que debemos conservar para generaciones futuras.</p>
          <p>Por ese motivo, para que todos nuestros visitantes puedan disfrutar al máximo en el museo, y para ayudar a los cuidadores de sala a cumplir con su trabajo, tu colaboración es necesaria.</p>
          <p>Por favor, respeta las siguientes normas:</p>
          <ul>
            <li>Las obras de arte son frágiles y pueden dañarse fácilmente, por favor no las toques.</li>
            <li>Los derechos de propiedad intelectual y reproducción limitan la libre difusión de imágenes de las obras de arte: no está permitido hacer fotografías o filmaciones dentro del museo.</li>
            <li>Para evitar molestias, no está permitido el uso del teléfono móvil en las salas.</li>
            <li>Te pedimos que no introduzcas bebida ni comida a las salas. Asimismo, la ley tampoco permite fumar durante la visita.</li>
            <li>Para tu comodidad, el museo dispone de un servicio de guardarropa donde dejar paraguas, mochilas y paquetes. Por seguridad, tampoco está permitida la entrada con paraguas, bultos o bolsas mayores de 40 x 40 cm.</li>
            <li>Los niños son bienvenidos al museo: procura que estén cerca de tí y no descuides su comportamiento.</li>
          </ul>
          <p>Los grupos organizados con un máximo de quince personas deben llevar un responsable, para favorecer la comodidad del resto de los visitantes.</p>
          <p>Gracias.</p>
        </div>
      </div>
    </div>
  </div>
</div>
