<div class="item ">
  <img src="/img/carrousel/item3.jpg" alt="1966 Constelaciones Gaur 2016">
  <div class="container">
    <div class="carousel-caption">
      <span class="chapa promocion">En exposición</span>
      <a href="/sala3/sanignacio" title="ir a contenido">
        <span class="tipo">Siglo XVII</span>
        <h2 class="mainTitle">
          <span class="when">26|01|16 &bull; 25|04|16</span>
        </h2>
        <h3 class="secondTitle">San Ignacio</h3>
        <h4 class="mainTitle">Figura de San Ignacio utilizada en fiestas patronales</h4>
        <p class="secondTitle"><span>Sala de la Iglesia</span></p>
        <!--span class="btn btn-default btn-view">VER DETALLE</span-->
      </a>
    </div>
  </div>
</div>
