<div class="item active">
  <img src="/img/carrousel/item1.jpg" alt="Mensajes desde la pared">
  <div class="container">
    <div class="carousel-caption">
      <span class="chapa promocion">En exposición</span>
      <a href="/sala1/pulpito" title="ir a contenido">
        <span class="tipo">Siglo XVII</span>
        <h2 class="mainTitle">
          <span class="when">06|10|15 &bull; 18|01|16</span>
        </h2>
        <h3 class="secondTitle">Púlpito de San Ignacio Guasú</h3>
        <h4 class="mainTitle">Parte del púlpito utilizado en la iglesia de San Ignacio Guasú</h4>
        <p class="secondTitle"><span>Sala de la Creación</span></p>
        <!--span class="btn btn-default btn-view">VER DETALLE</span-->
      </a>
    </div>
  </div>
</div>
