<div class="item ">
  <img src="/img/carrousel/item2.jpg" alt="Raimundo de Madrazo">
  <div class="container">
    <div class="carousel-caption">
      <span class="chapa promocion">En exposición</span>
      <a href="/sala2/angel" title="ir a contenido">
        <span class="tipo">Siglo XVI</span>
        <h2 class="mainTitle">
          <span class="when">03|11|15 &bull; 15|02|16</span>
        </h2>
        <h3 class="secondTitle">Angeles y Arcangeles </h3>
        <h4 class="mainTitle">Utilizados en la decoración de la iglesia de San Ignacio Guasú </h4>
        <p class="secondTitle"><span>Sala del Misterio</span></p>
        <!--span class="btn btn-default btn-view">VER DETALLE</span-->
      </a>
    </div>
  </div>
</div>
