<div class="item ">
  <img src="/img/carrousel/item1.jpg" alt="El divino Morales">
  <div class="container">
    <div class="carousel-caption">
      <span class="chapa promocion">En exposición</span>
      <a href="/sala5/cruz" title="ir a contenido">
        <span class="tipo">Siglo XVI</span>
        <h2 class="mainTitle">
          <span class="when">09|02|16 &bull; 16|05|16</span>
        </h2>
        <h3 class="secondTitle">Cruz</h3>
        <h4 class="mainTitle">Utilizada en el altar mayor entre los siglos XVI y XVII</h4>
        <p class="secondTitle"><span>Sala de la Compañía de Jesús</span></p>
        <!--span class="btn btn-default btn-view">VER DETALLE</span-->
      </a>
    </div>
  </div>
</div>
