<p><br></p>
<p><br></p>
<p><br></p>
<div class="wrapper col-lg-10 col-sm-9 col-xs-12">
  <div class="container">
    <div class="row">
      <!-- Carousel exposiciones -->
      <div id="exposiciones" class="carousel slide homeSlider col-lg-12 col-xs-12" data-ride="carousel">
        <div class="carousel-inner">
          <% include carousel/item1 %>
          <% include carousel/item2 %>
          <% include carousel/item3 %>
          <% include carousel/item4 %>
        </div>
        <a class="left carousel-control" href="#exposiciones" data-slide="prev"><span>Anterior imagen de obras maestras</span></a>
        <a class="right carousel-control" href="#exposiciones" data-slide="next"><span>Siguiente imagen de  obras maestras</span></a>
      </div>
      <% include articulos/articulo1 %>
      <% include articulos/articulo2 %>
      <% include articulos/articulo3 %>
      <% include articulos/articulo4 %>
      <% include articulos/articulo5 %>
    </div>
  </div>
</div>
