<!--=== Home Section Starts ===-->
<div id="section-home" class="home-section-wrap center">
  <div class="section-overlay"></div>
  <div class="container home">
    <div class="row">
      <h1 class="well-come">Museo Diocesano</h1>
      <div class="col-md-8 col-md-offset-2">
        <p class="intro-message">Recuperando la memoria histórica</p>
        <div class="home-buttons">
          <a href="#" class="fancy-button button-line button-white vertical">
            Sobre el Museo
            <span class="icon">
              <i class="fa fa-gear"></i>
            </span>
          </a>
          <a href="#" class="fancy-button button-line button-white zoom">
            Sobre las Esculturas
            <span class="icon">
              <i class="fa fa-leaf"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=== Home Section Ends ===-->
<!--=== Features section Starts ===-->
<section id="section-feature" class="feature-wrap">
  <div class="container features center">
    <div class="row">
      <div class="col-lg-12">
          <!--Features container Starts -->
          <ul id="card-ul" class="features-hold baraja-container">
            <!-- Single Feature Starts -->
            <li class="single-feature" title="Santa Cruz">
              <img src="img/expo/item1.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">Santa Cruz</h4>
              <p class="feature-text">
                Siglo XVI. Cruz del Altar.
              </p>
              <a href="#" class="fancy-button button-line btn-col small vertical">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="Jesucristo Crucificado">
              <img src="img/expo/item2.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">Jesucristo Crucificado</h4>
              <p class="feature-text">
                Tallado en el Siglo XVI. Madera de Cedro.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="San Luis">
              <img src="img/expo/item3.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">San Luis</h4>
              <p class="feature-text">
                Tallado en el Siglo XV. Detalles de oro y plata
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="San Jorge">
              <img src="img/expo/item4.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">San Jorge</h4>
              <p class="feature-text">
                Tallado en San Ignacio en el siglo XVI. Madera cruda.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="Santa Marta">
              <img src="img/expo/item5.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">Santa Marta</h4>
              <p class="feature-text">
                Tamaño pequeño, tallado en el año 1655.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="Altar">
              <img src="img/expo/item6.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">Altar</h4>
              <p class="feature-text">
                Parte del Altar utilizado en la antigua Iglesia de San Ignacio.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="Escarapela">
              <img src="img/expo/item7.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">Escarapela</h4>
              <p class="feature-text">
                Utilizado por los Guaranies en festividades.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
            <!-- Single Feature Starts -->
            <li class="single-feature" title="San Francisco">
              <img src="img/expo/item8.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
              <h4 class="feature-title color-scheme">San Francisco</h4>
              <p class="feature-text">
                Madera pintada, siglo XVI. Autor desonocido.
              </p>
              <a href="#" class="fancy-button button-line btn-col small zoom">
                Detalle
                <span class="icon">
                  <i class="fa fa-leaf"></i>
                </span>
              </a>
            </li>
            <!-- Single Feature Ends -->
          </ul>
          <!--Features container Ends -->
          <!-- Features Controls Starts -->
          <div class="features-control relative">
            <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
              <span class="icon">
                <i class="fa fa-arrow-left"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
              <span class="icon">
                <i class="fa fa-expand"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
              <span class="icon">
                <i class="fa fa-compress"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
              <span class="icon">
                <i class="fa fa-arrow-right"></i>
              </span>
            </button>
          </div>
          <!-- Features Controls Ends -->
      </div>
    </div>
  </div>
</section>
<!--=== Features section Ends ===-->
<!--=== Services section Starts ===-->
<section id="section-services" class="services-wrap">
  <div class="container services">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center section-title">
        <h3>Lo que hacemos en el museo</h3>
      </div>
      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInLeft" data-animation-delay="700">
        <span class="service-icon center">
          <i class="icon icon-basic-book-pencil fa-3x"></i>
        </span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Catalogación</h4>
          <p class="service-description justify">
            Todo lo que esta a nuestro alcance lo catalogamos.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center">
          <i class="icon icon-basic-paperplane fa-3x"></i>
        </span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Libros</h4>
          <p class="service-description justify">
            Tenemos una biblioteca con mas de mil libros.
          </p>
        </div>
      </div>
      <!-- Single Service ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInRight" data-animation-delay="700">
        <span class="service-icon center">
          <i class="icon icon-basic-accelerator fa-3x"></i>
        </span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Taller de pintura</h4>
          <p class="service-description justify">
            Tenemos un taller de pintura
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center">
          <i class="icon icon-basic-lightbulb fa-3x"></i>
        </span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Taller de tallado</h4>
          <p class="service-description justify">
            Recuperando nuestras viejas tradiciones tenemos un taller de tallado en madera.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->
    </div>
  </div>
</section>
<!--=== Services section Ends ===-->
<!--=== Step-1 section Starts ===-->
<section id="step-1" class="section-step step-wrap">
  <div class="container step animated" data-animation="bounceInLeft" data-animation-delay="700">
    <div class="row">
      <!-- Step Description Starts -->
      <div class="col-md-8 step-desc">
        <div class="col-md-2 center">
          <div class="step-no">
            <span class="no-inner">1</span>
          </div>
        </div>

        <div class="col-md-10 step-details">
            <h3 class="step-title color-scheme">Como trabajamos</h3>
            <p class="step-description">Lo primero que hacemos es <strong>limpiar</strong>, la pieza para empezar su restauracion. Luego de la limpieza, procedimos al analisis de la pieza.</p>

            <ul class="sub-steps"> <!-- Sub steps here -->
              <li>
                <span class="icon fa fa-comments color-scheme"></span>
                <span class="sub-text">En la primera etapa</span>
              </li>
              <li>
                <span class="icon fa fa-pencil-square-o color-scheme"></span>
                <span class="sub-text">En la segunda etapa</span>
              </li>
            </ul>
        </div> <!-- End step-details -->
      </div>
      <!-- Step Description Ends -->
      <div class="col-md-4 step-img">
        <img src="img/skin/note.png" alt="" /> <!-- Step Photo Here -->
      </div>
    </div>
  </div>
</section>
<!--=== Step-1 section Ends ===-->
<!--=== Step-2 section Starts ===-->
<section id="step-2" class="section-step step-even step-wrap">
  <div class="container step animated" data-animation="bounceInRight" data-animation-delay="700">
    <div class="row">
      <!-- Step Description Starts -->
      <div class="col-md-8 step-desc">
        <div class="col-md-2 center">
          <div class="step-no">
            <span class="no-inner">2</span>
          </div>
        </div>

        <div class="col-md-10 step-details">
            <h3 class="step-title color-scheme">Analisis</h3>
            <p class="step-description">Procedemos al analisis historico <strong>de la pieza</strong>, para luego continuar con la limpieza y el acabado. Luego le sacamos fotografías</p>

            <ul class="sub-steps"> <!-- Sub steps here -->
              <li>
                <span class="icon fa fa-comments color-scheme"></span>
                <span class="sub-text">entre otrs cosas</span>
              </li>
              <li>
                <span class="icon fa fa-pencil-square-o color-scheme"></span>
                <span class="sub-text">Docuumentamos</span>
              </li>
            </ul>
        </div><!-- End step-details -->
      </div>
      <!-- Step Description Ends -->
      <div class="col-md-4 step-img">
        <img src="img/skin/desk.png" alt="" /> <!-- Step Photo Here -->
      </div>
    </div>
  </div>
</section>
<!--=== Step-2 section Ends ===-->
<!--=== Video section Starts ===-->
<section id="section-video" class="section-video-wrap">
  <div class="section-overlay"></div>
  <div class="container big-video center animated" data-animation="fadeInLeft" data-animation-delay="700">
    <div class="row">
      <div class="col-md-12 section-title">
        <h3>Pueblos Jesuíticos</h3>
      </div>
      <div class="col-md-10 col-md-offset-1 video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kr9Iy2GyCPA" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<!--=== Video section Ends ===-->
<!--=== ScreenShots section Starts ===-->
<section id="section-screenshots" class="screenshots-wrap">
  <div class="container screenshots animated" data-animation="fadeInUp" data-animation-delay="1000">
    <div class="row porfolio-container">
      <div class="col-md-10 col-md-offset-1 center section-title">
        <h3>Algunas Obras en exposición</h3>
      </div>
      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item7.jpg" alt="" />
            <div class="photo-overlay">
              <h4>San Ignacio</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item2.jpg" alt="" />
            <div class="photo-overlay">
              <h4>San Carlos</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project-2.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item3.jpg" alt="" />
            <div class="photo-overlay">
              <h4>Santa Teresa de Jesús</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item4.jpg" alt="" />
            <div class="photo-overlay">
              <h4>San Francisco</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project-2.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->
      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item5.jpg" alt="" />
            <div class="photo-overlay">
              <h4>Altar</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->
      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="img/expo/item6.jpg" alt="" />
            <div class="photo-overlay">
              <h4>Angel</h4>
            </div>
            <span class="photo-zoom">
              <a href="single-project-2.html" class="view-project">
                <i class="fa fa-search-plus fa-2x"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->
    </div>

    <div id="portfolio-loader" class="center">
      <div class="loading-circle fa-spin"></div>
    </div> <!--=== Portfolio loader ===-->

    <div id="portfolio-load"></div>
    <!--=== ajax content will be loaded here ===-->

    <div class="col-md-12 center back-button">
      <a class="backToProject fancy-button button-line bell btn-col" href="#">
        Atrás
        <span class="icon">
          <i class="fa fa-arrow-left"></i>
        </span>
      </a>
    </div><!--=== Single portfolio back button ===-->
  </div>
</section>
<!--=== ScreenShots section Ends ===-->
<!--=== Testimonials section Starts ===-->
<section id="section-testimonials" class="testimonials-wrap">
  <div class="section-overlay"></div>
  <div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonial-slider">
          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              En el museo estamos para atenderlo, con personal capacitado para explicar todo lo concerniente al arte barroco de las Reducciones
            </p>
            <h5 class="happy-client">Padre Betancourt</h5>
            <span class="client-info">Curador</span>
          </div>
          <!-- Single Testimonial Ends -->

          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              Con la mejor predisposicion para atenderlo cuando nos visite.
            </p>

            <h5 class="happy-client">Carlos Bedoya</h5>
            <span class="client-info">Vice Curador</span>
          </div>
          <!-- Single Testimonial Ends -->

          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              Los esperamos todos los días de la semana desde las 8:00 hasta las 17:00 hs.
            </p>
            <h5 class="happy-client">Carolina Juanes</h5>
            <span class="client-info">Guía</span>
          </div>
          <!-- Single Testimonial Ends -->
        </div>
        <div id="bx-pager" class="client-photos">
          <a data-slide-index="0" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="img/presentacion/curador1.jpg" alt="" /> <!-- Client photo 1 -->
            </span>
          </a>
          <a data-slide-index="1" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="img/presentacion/curador2.jpg" alt="" /> <!-- Client photo 2 -->
            </span>
          </a>
          <a data-slide-index="2" href="" class="photo-hold">
            <span class="photo-bg">
              <img src="img/presentacion/curador3.jpg" alt="" /> <!-- Client photo 3 -->
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Testimonials section Ends ===-->
<!--=== Pricing section Starts ===-->
<section id="section-pricing" class="pricing-wrap">
  <div class="container pricing">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center section-title">
        <h3>Tarifas</h3>
      </div>
      <!-- Single Price Starts -->
      <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="500">
        <div class="single-pricing">
          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Única</h4>
            <div class="price">
              <h3>
                <span class="dollar">Gs.</span>
                5.000
                <span class="month">/persona</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li>
              <span class="color-scheme fa fa-check"></span>Acceso a todas las Salas
            </li>
            <li>
              <span class="color-scheme fa fa-check"></span>Guía
            </li>
            <li>
              <span class="color-scheme fa fa-check"></span>Disfrutará del fresco edificio de la época
            </li>
            <!--li>
              <span class="color-scheme fa fa-check"></span>Email Forwards
            </li>
            <li>
              <span class="color-scheme fa fa-close"></span>Cloud Storage
            </li>
            <li>
              <span class="color-scheme fa fa-close"></span>Voice call
            </li>
            <li>
              <span class="color-scheme fa fa-close"></span>Screen Share
            </li-->
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col zoom">
              Sign up
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Price Ends -->


      <!-- Single Price Starts -->
      <!--div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
        <div class="single-pricing best-pricing"> <!-- this is best-pricing -->

          <!--div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Advance</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                60
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-close"></span>Voice call</li>
            <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col vertical">
              Sign up
              <span class="icon">
                <i class="fa fa-hand-o-up"></i>
              </span>
            </a>
          </div>
        </div>
      </div-->
      <!-- Single Price Ends -->

      <!-- Single Price Starts -->
      <!--div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="900">
        <div class="single-pricing">

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Premium</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                80
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-check"></span>Voice call</li>
            <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col rotate">
              Sign up
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
        </div>
      </div-->
      <!-- Single Price Ends -->

      <!-- Single Price Starts -->
      <!--div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
        <div class="single-pricing">

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Ultra</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                100
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-check"></span>Voice call</li>
            <li><span class="color-scheme fa fa-check"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col zoom">
              Sign up
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
        </div>
      </div-->
      <!-- Single Price Ends -->
    </div>
  </div>
</section>
<!--=== Pricing section Ends ===-->
<!--=== Subscribe section Starts ===-->
<section id="section-subscribe" class="subscribe-wrap">
  <div class="section-overlay"></div>
  <div class="container subscribe center">
    <div class="row">
      <div class="col-lg-12">
        <p class="subscription-success"></p>
        <p class="subscription-failed"></p>
        <div class="col-md-10 col-md-offset-1 center section-title">
          <h3>Noticias del Museo</h3>
        </div>
        <form id="subscription-form">
          <input type="email" name="EMAIL" required="required" placeholder="Su Email" class="input-email" />
          <button type="submit" id="subscription-btn" class="fancy-button button-line button-white large zoom">
            Subscribir
            <span class="icon">
              <i class="fa fa-sign-in"></i>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--=== Subscribe section Ends ===-->
<!--=== Download section Starts ===-->
<!--section id="section-download" class="download-wrap">
  <div class="container download center">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-10 col-md-offset-1 center section-title">
          <h3>Download app</h3>
        </div>
        <div class="download-buttons clearfix"> <!-- Download Buttons -->
          <!--a class="fancy-button button-line no-text btn-col large zoom" href="#" title="Download from App store">
            <span class="icon">
            <i class="fa fa-apple"></i>
            </span>
          </a>
          <a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
            <span class="icon">
            <i class="fa fa-android"></i>
            </span>
          </a>
          <a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
            <span class="icon">
            <i class="fa fa-windows"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section-->
<!--=== Download section Ends ===-->
<!--=== Contact section Starts ===-->
<section id="section-contact" class="contact-wrap">
  <div class="section-overlay"></div>
  <div class="container contact center animated" data-animation="flipInY" data-animation-delay="1000">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-10 col-md-offset-1 center section-title">
          <h3>Dejar un mensaje</h3>
        </div>
        <div class="confirmation">
          <p><span class="fa fa-check"></span></p>
        </div>
        <form class="contact-form support-form">
          <div class="col-lg-12">
            <input id="name" class="input-field form-item field-name" type="text" required="required" name="contact-name" placeholder="Nombre" />
            <input id="email" class="input-field form-item field-email" type="email" required="required" name="contact-email" placeholder="Email" />
            <input id="subject" class="input-field form-item field-subject" type="text" required="required" name="contact-subject" placeholder="Asunto" />
            <textarea id="message" class="textarea-field form-item field-message" rows="10" name="contact-message" placeholder="Mensaje"></textarea>
          </div>
          <button type="submit" class="fancy-button button-line button-white large zoom subform">
            Enviar Mensaje
            <span class="icon">
              <i class="fa fa-paper-plane-o"></i>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--=== Contact section Ends ===-->
