<form id="topicForm" method="post" action="/web/especialidad/<%= especialidad.id %>" >
    <table class="table table-bordred table-striped">
      <thead>
        <tr>
          <th class="cell-stat text-center">especialidad</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="text-center">
              <label for="especialidad" class="control-label">Especialidad</label>
              <input type="text" class="form-control" id="especialidad" name="especialidad" value="<%=especialidad.especialidad%>" required="true" title="Ingrese especialidad" placeholder="<especialidad>">
              <%= especialidad.especialidad %>
            </td>

          </tr>
      </tbody>
    </table>
    <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">
      Agregar
    </button>
</form>
